@import "tailwindcss";

.hostproperty {
  @apply p-4 bg-white border-solid border-1 rounded-md hover:inset-ring-2 hover:inset-ring-sky-800;
}

.hostlabel {
  @apply font-bold block mb-1.5;
}

.hostvalue {
  @apply break-all;
}