{{ define "host" }}
<div class="text-blue-500 text-center text-2xl font-bold h-16">System information</div>
<div class="grid grid-cols-4 gap-4">
    <div class="hostproperty">
        <span class="hostlabel">Host</span>
        <span class="hostvalue">{{ .Hostname }}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">OS</span>
        <span class="hostvalue">{{.OS}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Plateform</span>
        <span class="hostvalue">{{.Platform}} {{.PlatformVersion}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Kernel</span>
        <span class="hostvalue">{{.KernelVersion}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Boot time</span>
        <span class="hostvalue">{{.BootTime}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Uptime</span>
        <span class="hostvalue">{{.Uptime}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">CPU (Physique / Virtuel)</span>
        <span class="hostvalue">{{.CPUP}} / {{.CPUV}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">CPU usage</span>
        <span class="hostvalue">{{.CPUUsage}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">CPU temperature</span>
        <span class="hostvalue">{{.CPUTemperature}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Running processus count</span>
        <span class="hostvalue">{{.RunningProcesses}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Load average</span>
        <span class="hostvalue">{{.LoadAverage}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Memory (Total / Free / Cache):</span>
        <span class="hostvalue">{{.TotalMemory}} / {{.FreeMemory}} / {{.CacheMemory}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Storage (Total / Free):</span>
        <span class="hostvalue">{{.TotalDiskSpace}} / {{.FreeDiskSpace}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Swap (Total / Free):</span>
        <span class="hostvalue">{{.TotalSwap}} / {{.FreeSwap}}</span>
    </div>
    <div class="hostproperty">
        <span class="hostlabel">Network interfaces</span>
        <span class="hostvalue">
            {{ range .NetworkInterfaces}}
                {{.}}<br>
            {{ end }}
        </span>
    </div>
</div>
{{ end }}