{{ define "host" }}
<h1>System information</h1>
<div class="property-grid">
    <div class="property">
        <span class="label">Host</span>
        <span class="value">{{ .Hostname }}</span>
    </div>
    <div class="property">
        <span class="label">OS</span>
        <span class="value">{{.OS}}</span>
    </div>
    <div class="property">
        <span class="label">Plateform</span>
        <span class="value">{{.Platform}} {{.PlatformVersion}}</span>
    </div>
    <div class="property">
        <span class="label">Kernel</span>
        <span class="value">{{.KernelVersion}}</span>
    </div>
    <div class="property">
        <span class="label">Boot time</span>
        <span class="value">{{.BootTime}}</span>
    </div>
    <div class="property">
        <span class="label">Uptime</span>
        <span class="value">{{.Uptime}}</span>
    </div>
    <div class="property">
        <span class="label">CPU (Physique / Virtuel)</span>
        <span class="value">{{.CPUP}} / {{.CPUV}}</span>
    </div>
    <div class="property">
        <span class="label">CPU usage</span>
        <span class="value">{{.CPUUsage}}</span>
    </div>
    <div class="property">
        <span class="label">CPU temperature</span>
        <span class="value">{{.CPUTemperature}}</span>
    </div>
    <div class="property">
        <span class="label">Running processus count</span>
        <span class="value">{{.RunningProcesses}}</span>
    </div>
    <div class="property">
        <span class="label">Load average</span>
        <span class="value">{{.LoadAverage}}</span>
    </div>
    <div class="property">
        <span class="label">Memory (Total / Free / Cache):</span>
        <span class="value">{{.TotalMemory}} / {{.FreeMemory}} / {{.CacheMemory}}</span>
    </div>
    <div class="property">
        <span class="label">Storage (Total / Free):</span>
        <span class="value">{{.TotalDiskSpace}} / {{.FreeDiskSpace}}</span>
    </div>
    <div class="property">
        <span class="label">Swap (Total / Free):</span>
        <span class="value">{{.TotalSwap}} / {{.FreeSwap}}</span>
    </div>
    <div class="property">
        <span class="label">Network interfaces</span>
        <span class="value">
            {{ range .NetworkInterfaces}}
                {{.}}<br>
            {{ end }}
        </span>
    </div>
</div>
{{ end }}